<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">

{% include head.html %}
  
<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      {{ content }}
      <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
      {% for post in paginator.posts %}
        {% include archive-single.html %}
      {% endfor %}
      
      {% include paginator.html %}
    </div>
  </div>

  <script type="text/javascript" src="https://github.com/renyuanz/leonids/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://github.com/renyuanz/leonids/js/main.js"></script>
</body>
</html>
